services:
  web-server:
    build:
      context: .
      dockerfile: ./web-server.Dockerfile
    ports:
      - 80
    depends_on:
      - fast-cgi
    restart: always
    labels:
      - webproxy.path=
  fast-cgi:
    build:
      context: .
      dockerfile: ./fast-cgi.Dockerfile
      args:
        MAIL_HOST: ${MAIL_HOST:-mail}
    expose:
      - 9000
    volumes:
      - ${SITEMAP_PATH:-./sitemap.json}:/var/www/html/sitemap.json:ro
    environment:
      DB_HOST: database
      DB_USER: website
      DB_PASS: secret
      DB_NAME: website
      SITE_NAME: ${SITE_NAME:-}
      SITE_DESCRIPTION: ${SITE_DESCRIPTION:-}
      SITE_KEYWORDS: ${SITE_KEYWORDS:-}
      SITE_AUTHOR: ${SITE_AUTHOR:-}
      HCAPTCHA_SECRET: ${HCAPTCHA_SECRET:-}
      HCAPTCHA_SITEKEY: ${HCAPTCHA_SITEKEY:-}
    networks:
      - default
      - mail
    depends_on:
      - database
    restart: always
  database:
    build: ./database
    expose:
      - 3306
    volumes:
      - database-data:/var/lib/mysql
    environment:
      MARIADB_ROOT_PASSWORD: super_secret
      MARIADB_USER: website
      MARIADB_PASSWORD: secret
      MARIADB_DATABASE: website
    restart: always

volumes:
  database-data:
    driver: local

networks:
  mail:
    name: mail
    driver: bridge