[
    {
        "color": "#09a3b5",
        "img": "/pokeprof/assets/back.png",
        "title": "Poképrof",
		"git": "https://github.com/ptlc8/pokeprof",
		"preview": "pokeprof/screenshot.jpg",
        "content": [
            {
                "link": "/cards",
                "title": "Jouer"
    		},
            {
                "link": "/cards/gallery.php",
                "title": "Gallerie de cartes"
            },
            {
                "link": "/cards/create.php",
                "title": "Créer une carte"
            }
        ]
    },
	{
		"color": "#5ec05e",
		"img": "/sm/assets/glob-lilglob.png",
		"title": "Smash Meme",
		"git": "https://github.com/ptlc8/smashmeme",
		"preview": "sm/screenshot.jpg",
		"content": [
			{
				"link": "/sm/play",
				"title": "Tester seul"
			},
			{
				"link": "/sm/online",
				"title": "En multijoueur"
			},
			{
				"link": "/sm/create",
				"title": "Creér un personnage"
    		}
		]
	},
	{
		"color": "#db4f64",
		"img": "/wheel/icon.png",
		"title": "Roue des choix",
		"git": "https://github.com/ptlc8/wheel",
		"preview": "wheel/wheel.png",
		"content": [
			{
				"link": "wheel",
				"title": "Essayer"
			}
		]
	},
]