@font-face {
    font-family: 'Elected Office';
    font-style: normal;
    font-weight: 400;
    src: url('assets/elected-office.regular.ttf');
    font-display: swap;
}

:root {
    --bg-color: #82b;
    --bg-color2: #ffffa4;
    --bg-color3: #82b4df;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}
body {
    font-family: Elected Office, Helvetica, Arial, sans-serif;
    margin: 1% auto;
    max-width: 90%;
    min-height: 98%;
    display: flex;
    flex-direction: column;
    animation: animated-bg 6s ease-in-out infinite alternate, coloring-bg 3s ease-in-out infinite alternate;
    transition: background-color 5s ease-in-out;
    background-image: radial-gradient(at 0% 0%, transparent 0%, var(--bg-color));
    background-size: 110% 110%;
    background-color: var(--bg-color2);
    background-attachment: fixed;
}

.custom-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1000;
    background: center/cover no-repeat;
}

@keyframes animated-bg {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -10vw -10vh;
    }
}
@keyframes coloring-bg {
    0% {
        background-color: var(--bg-color3);
    }
    100% {
        background-color: var(--bg-color2);
    }
}


/* header */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    margin: 0 .5em 1em .5em;
    padding: .5em;
}
header h1 {
    flex: 1 0;
    margin: .5em 0;
}
header h1:first-letter {
    font-size: 1.25em;
    color: #82b;
}
header a {
    border-radius: 3em;
    margin: 0;
}
header a img {
    width: 3em;
    height: 3em;
    border-radius: 1.5em;
}
@media screen and (max-width: 600px) {
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    header .account {
        grid-row: 1;
        grid-column: 2;
        justify-self: self-end;
    }
}


/* footer */

footer {
    display: flex;
    justify-content: center;
    margin: 1em .5em;
    padding: .5em;
}


/* projects deck */

.deck {
    columns: 20em auto;
    gap: 2em;
}
.deck > * {
    margin-bottom: 2em;
}
.card {
    border-radius: 1em;
    overflow: hidden;
    transition: transform .2s, box-shadow .2s;
}
.card:hover {
    transform: scale(1.02);
    box-shadow: black 0 0 1em;
    animation: rainbow-shadow 12s linear infinite;
}
.card .preview {
    width: 100%;
    aspect-ratio: 2;
    object-fit: cover;
    background: rgba(255, 255, 255, 0.5);
}
.card .head {
    margin: 0 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}
.card .head img {
    height: 2em;
    width: auto;
}
.card .head .title {
    flex: 1;
}
.card .git img {
    height: 1.5em;
}
.card .body {
    margin: 0 1em 1em 1em;
}
.card .body p {
    margin-top: 0;
    text-align: center;
}
.card .buttons {
    text-align: center;
}
.card .buttons a, .card .git {
    background-color: rgba(0, 0, 0, 0.25);
    margin: .2em;
}


/* form pages */

.container {
    min-height: 10%;
    margin: auto;
    padding: 2rem 4rem;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
}
.container h1 {
    text-align: center;
    font-size: 2.4em;
    margin: 0.1em;
}
.container h2 {
    margin: 0.1em;
}
@media screen and (orientation: portrait) {
    .container {
        width: 80%;
        padding: 2rem 2rem;
    }
}

form > * {
    padding: 1px;
    border-width: 1px;
}
form > [type=submit] {
    width: 50vh;
    max-width: 50%;
    cursor: pointer;
}

form > .helper {
    color: green;
    text-align: center;
}
form > .error {
    color: red;
    text-align: center;
}

td:first-child {
    text-align: right;
}

input {
    display: block;
    width: 100%;
    margin: 0 auto .5em;
    padding: 0.375rem 1em;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 4px;
    transition: border-color .15s ease-in-out;
    box-sizing: border-box;
    font: inherit;
}

a, input[type=submit] {
    padding: .5em 1em;
    border-radius: 0.5em;
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: #82b;
}
a {
    display: inline-block;
    margin: 1em .5em 0;
}
a.large, input[type=submit] {
    display: block;
}
input[type=submit].bad, a.bad {
    background-color: indianred;
}
input[type=submit].good, a.good {
    background-color: mediumseagreen;
}
a > * {
    vertical-align: middle;
}

a, input {
    transition: transform .2s ease;
}
a:hover, input[type=submit]:hover, a:focus, input:focus {
    transform: scale(1.05);
}

ul {
    list-style-type: "− ";
    margin: 0;
    padding-inline-start: 2em;
}

.avatar {
    background: white;
    border-radius: 8%;
}

.connection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
}


/** scrollbars **/

::-webkit-scrollbar {
	width: .5em;
	height: .5em;
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 .5em rgba(0, 0, 0, 0.1);
	border-radius: 1em;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 1em;
}
::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, 0.5);
}


/* funny stuff */

@keyframes rainbow-shadow {
	0% { box-shadow: 0 0 1em #ff0; }
	16.666% { box-shadow: 0 0 1em #0f0; }
	33.333% { box-shadow: 0 0 1em #0ff; }
	50% { box-shadow: 0 0 1em #00f; }
	66.666% { box-shadow: 0 0 1em #f0f; }
	83.333% { box-shadow: 0 0 1em #f00; }
	100% { box-shadow: 0 0 1em #ff0; }
}

#april-fool {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000000;
	background-image: url('assets/april-fool.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	pointer-events: none;
}